//	font-family: "Roboto", sans-serif;

//	font-family: "Shrikhand", cursive;
@import "../scss/utils/variables";
@import "../scss/utils/mixins";
@import "../scss/layouts/_header";
@import "../scss/layouts/_main";
@import "../scss/layouts/_footer";
@import "../scss/layouts/_page-menu";

//reset
body {
	max-width: 1550px;
	margin: 0 auto;
	line-height: 1;
	font-family: $font-txt;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	&:active {
		color: inherit;
	}
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
