//	font-family: "Roboto", sans-serif;

//	font-family: "Shrikhand", cursive;
@import "../scss/utils/variables";
@import "../scss/utils/mixins";
@import "../scss/layouts/_header";
@import "../scss/layouts/_main";
@import "../scss/layouts/_footer";

body {
	margin: 0;
}

//loader
/* loader */
.loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(153, 226, 208, 1);
	-webkit-animation: hideLoader 0s ease-in 3s forwards;
	animation: hideLoader 0s ease-in 3s forwards;
}
@keyframes hideLoader {
	to {
		width: 0;
		height: 0;
		overflow: hidden;
	}
}
.loader__animate {
	border: 10px solid transparent;
	border-top: 10px solid $color-primary;
	border-bottom: 10px solid $color-secondary;
	border-radius: 50%;
	width: 100px;
	height: 100px;

	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
	/* placement au milieu de la page */
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.loader__image {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	position: absolute;
	top: 44%;

	right: 47%;
}

/* animation du loader */
@-webkit-keyframes spin {
	0% {
		-webkittransform: rotate(0deg);
	}
	100% {
		-webkittransform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* header */
header {
	text-align: center;
	margin-top: 15px;
	padding: 20px 0 20px 0;
}
// emplacement
/* emplacement */
.location {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eaeaea;
	.location__icone {
		margin-right: 20px;
	}
}

//presentation du site
/* presentation du site */
.presentation {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 40px 40px;
	margin-bottom: 50px;
	background-color: $color-bloc;
}
.presentation__title {
	margin: 0;
	font-family: $font-txt;
	font-size: $size-text + 10px;
	font-weight: bolder;
}

.presentation__para {
	font-size: $size-text + 5px;
	font-family: $font-txt;
}

.presentation__btn {
	text-decoration: none;
	padding: 16px;
	border-radius: 30px;
	text-align: center;
	color: #fff;
	font-weight: normal;
	font-size: $size-text + 5px;
	font-family: $font-txt;
	margin: 10px auto;
	background: linear-gradient(#ff79da, #9356dc);
	box-shadow: 5px 5px 10px rgb(0 0 0 / 0.3);
}
