@mixin title-all {
	font-family: $font-title;
	font-size: 25px;
	font-weight: bold;
	margin-left: 15px;
}
//modification ou ajout de couleur
@mixin color-choice($couleur, $valeur) {
	#{$couleur}: $valeur;
}
