$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiar: #99e2d0;
$color-white: #ffffff;
$color-foo: #353535;
$color-bloc: #f6f6f6;
$font-title: "Shrikhand", cursive;
$font-txt: "Roboto", sans-serif;
$pading-foo: 20px 0 20px 0;
$size-text: 16px;
