//color global site
$color-velvet-primary: #9356dc;
$color-pink-secondary: #ff79da;
$color-sky--tertiar: #99e2d0;
$color-white: #ffffff;
$color-grey-foo: #353535;

//colors gradient
$gradient: linear-gradient(#ff79da, #9356dc);

//color blocs
$color-bloc: #eaeaea;
$lighten-box: lighten($color-bloc, 3);

//font global site
$font-title: "Shrikhand", cursive;
$font-txt: "Roboto", sans-serif;
$size-text: 16px;

//margin & padding & dimension
$pading-foo: 20px 0 20px 0;

//variable for responsive
$medium: 768px !default;
$large: 1000px !default;

$medium-up: "only screen and (min-width: #{medium})";
$medium-down: "only screen and (max-width: #{medium})";
$large-up: "only screen and (min-width: #{large})";
$large-down: "only screen and (max-width: #{large})";

//menu page
