//loader
/* loader */
.loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(153, 226, 208, 1);
	-webkit-animation: hideLoader 0.3s ease-in 2s forwards;
	animation: hideLoader 0.3s ease-in 0.2s forwards;
	z-index: 20;
}
@-webkit-keyframes hideLoader {
	to {
		width: 0;
		height: 0;
		overflow: hidden;
	}
}
@keyframes hideLoader {
	to {
		width: 0;
		height: 0;
		overflow: hidden;
	}
}
.loader__animate {
	border: 10px solid transparent;
	border-top: 10px solid $color-velvet-primary;
	border-bottom: 10px solid $color-pink-secondary;
	border-radius: 50%;
	width: 100px;
	height: 100px;

	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
	/* placement au milieu de la page */
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.loader__image {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	position: absolute;
	top: 44%;

	right: 47%;
}

/* animation du loader */
@-webkit-keyframes spin {
	0% {
		-webkittransform: rotate(0deg);
	}
	100% {
		-webkittransform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* header */
.nav-head {
	text-align: center;
	padding: 20px 0 0;
}
.fa-arrow-left {
	font-size: $size-text + 5px;
	color: #000000;
	font-weight: bold;
	position: absolute;
	top: 30px;
	left: 30px;
}
.nav-head--fas {
	display: none;
}
// emplacement
/* emplacement */
.location {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	background-color: $color-bloc;
	box-shadow: inset 0px 15px 10px -10px rgb(0 0 0 / 10%);
	.location__icone {
		margin-right: 20px;
	}
}
.location__title {
	font-size: $size-text;
	font-weight: 400;
}

//presentation du site
/* presentation du site */
.presentation {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 30px 0;
	background-color: $lighten-box;
}
.presentation__title {
	margin: 0 0 20px;
	font-size: $size-text + 8px;
	font-weight: bolder;
}

.presentation__para {
	font-size: $size-text + 2px;
	margin: 0 0 20px;
}

.presentation__btn {
	text-decoration: none;
	padding: 16px 30px;
	border-radius: 30px;
	text-align: center;
	color: $color-white;
	font-weight: normal;
	font-size: $size-text;
	margin: 10px auto;
	background: linear-gradient(#ff79da, #9356dc);
	box-shadow: 5px 5px 10px rgb(0 0 0 / 0.3);
}
