//section use
/* section use */
.use {
	padding: 30px;
}

.use__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.use__btn {
	display: flex;
	align-items: center;
	margin: 15px;
}

.use__btn-title {
	color: initial;
	position: absolute;
	bottom: 22px;
	left: 60px;

	@include responsive(desktop) {
		left: 120px;
	}
}

.use__num {
	font-weight: 900;
	border-radius: 50px;
	background-color: $color-velvet-primary;
	z-index: 10;
	padding: 6px 9px;
	color: $color-white;
}

.use__btn-unity {
	align-items: center;
	display: flex;
	justify-content: center;
	font-size: $size-text;
	color: #7e7e7e;
	list-style: none;
	background-color: $lighten-box;
	border-radius: 20px;
	width: clamp(50px, 90vw, 420px);
	height: 60px;
	box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
	margin-left: -15px;
	position: relative;
	::before {
		position: absolute;
		left: 30px;
		bottom: 22px;
	}
	@include responsive(desktop) {
		::before {
			left: 50px;
		}
	}
}

//section restaurant
/* section restaurant */
.restaurant {
	background-color: $lighten-box;
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.restaurant__title {
	margin-bottom: 20px;
	padding-left: 15px;
}

.card-container {
	@include responsive(desktop) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		background-color: $lighten-box;
		&__unit {
			width: clamp(200px, 48%, 1000px);
		}
	}
}

.card {
	width: clamp(200px, 100%, 1000px);
	border-radius: 30px;
	margin-bottom: 30px;
	position: relative;
}

.card__label {
	background-color: $color-sky--tertiar;
	padding: 10px;
	position: absolute;
	right: 15px;
	top: 15px;
	color: darken($color: $color-sky--tertiar, $amount: 40);
	font-weight: bold;
}
.card__img {
	width: clamp(200px, 100%, 1000px);
	height: 200px;
	object-fit: cover;
	border-radius: 30px 30px 0 0;
}
.card__legend {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	background-color: $color-white;
	border-radius: 0 0 30px 30px;
}
.card__legend-title--position {
	margin: 0 0 8px 20px;
}
.card__legend-title {
	color: initial;
}

/* animation icone */

.card__legend-icon-heart {
	position: relative;
	right: 20px;
	font-size: 25px;
	transition: background-color 1500ms;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: black;
	&:hover {
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 900;
		background-image: linear-gradient($color-pink-secondary, rgba(255, 255, 255, 0));
		background-color: $color-velvet-primary;
	}
}
