//page menu enchante

.hero {
	width: 100%;
	height: 60vh;
	object-fit: cover;
}

.container-menu {
	max-width: 85%;
	height: 600px;
	background-color: $color-bloc;
	position: relative;
	margin: auto;
	top: -60px;
	border-radius: 30px 30px 0 0;
}

.menu__box {
	@include flex-sp-beet;
	align-items: center;
}

.menu__box-title {
	font-family: $font-title;
	font-weight: 100;
	padding: $pading-foo;
	font-size: 5vmin;
}

/* anim icone heart */

.menu__icon-heart {
	position: relative;
	right: 20px;
	font-size: 30px;
	transition: background-color 1500ms;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: black;
	&:hover {
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 900;
		background-image: linear-gradient($color-pink-secondary, rgba(255, 255, 255, 0));
		background-color: $color-velvet-primary;
	}
}
//menu-container
/* menu container */
.menu-container {
	display: flex;
	margin: 0 15px;
}

.label {
	max-width: 400px;
	min-width: 250px;
	width: 100%;
	margin: 10px;
}

.label__title {
	font-weight: 400;
	position: relative;
	padding-bottom: 10px;
}

/* souligne des titres entrée plats dessert */
.label__title::before {
	width: 50px;
	height: 4px;
	background-color: #99e2d0;
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
}

//animation card
.card-single {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background: white;
	border-radius: 15px;
	height: 75px;
	margin: 15px 0;
	padding: 15px 0;
	line-height: 1.3;

	overflow: hidden;
	&:hover .card-single__check {
		transform: translateX(0%);
		visibility: visible;
		padding: 0 15px;
		margin-right: 0;
		& .card-single__check-icon {
			transform: rotate(360deg);
			transition-duration: 1200ms;
		}
	}
}

.card-single__block {
	overflow: hidden;
	padding-left: 15px;
	width: 350px;
}

//faire une mixin pour les 2
.card-single__subtitle,
.card-single__title {
	@include ellipsis;
}

.card-single__price {
	max-width: 55px;
	width: 100%;
}
.card-single__price-cost {
	font-weight: 600;
}

.card-single__check {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: $color-sky--tertiar;
	border-radius: 0 15px 15px 0;
	height: 75px;
	align-self: center;
	visibility: hidden;
	margin-right: -50px;
	transition-duration: 600ms;
}

.card-single__check-icon::before {
	@include icon-regular("\f058", 30px);
	color: $color-white;
}

/* btn order */
.generic-btn {
	text-align: center;
	margin-top: 20px;
}

.order__btn {
	@include btn-site(16px 50px);
}
